<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test sait - Главная страница</title>
    <style>
        .btn {
         display: inline-block; /* Строчно-блочный элемент */
         background: #1341d6; /* Серый цвет фона */
         color: #fff; /* Белый цвет текста */
         padding: 1rem 1.5rem; /* Поля вокруг текста */
         text-decoration: none; /* Убираем подчёркивание */
         border-radius: 5px; /* Скругляем уголки */
        }
       </style>
</head>
<body>
    <a href="/registration" class="btn">Registration</a>
</body>
</html>