<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test sait - Регистрация</title>
    <style>
        .btn {
         display: inline-block; /* Строчно-блочный элемент */
         background: #1341d6; /* Серый цвет фона */
         color: #fff; /* Белый цвет текста */
         padding: 1rem 1.5rem; /* Поля вокруг текста */
         text-decoration: none; /* Убираем подчёркивание */
         border-radius: 5px; /* Скругляем уголки */
        }
       </style>
</head>
<body>
    <form action="" method=post enctype=multipart/form-data>
        <label for="name">Name</label>
        <p><input id="name" type="text" name=name></p>
        <label for="second_name">Second name</label>
        <p><input id="second_name" type="text" name="second_name"></p>
        <label for="birthday">Birthday</label>
        <p><input id="birthday" type="date" name="birthday"></p>
        <label for="email">Email</label>
        <p><input id="email" type="email" name="email"></p>
        <label for="login">Login</label>
        <p><input id="login" type="text" name="login"></p>
        <label for="pin">Password</label>
        <p><input id="pin" type="password" name="password"></p>
        <input class=btn type=submit value=Registration>
    </form>
</body>
</html>